/* main.css */

body {
	font-family: AvenirNext-Regular;
}

/* Login */

#logo {
	width: 333px;
	background-size: 333px 137px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 170px;
	display: block;
}

#log-in-button {
	display: inline-block;
	margin-top: 52px;
}

a#log-in-button:hover {
	opacity: 0.7;
}

#log-in-button img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 146px;
	background-size: 33px 146px;
}

#info {
	margin-top: 44px;
	color: #c7c7c7;
	font-size: 12px;
}

#recurses {
	margin-bottom: 60px;
}

#recurses p {
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	color: #c7c7c7;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 49px;
	background-color: #FBFBFB;
}

footer a {
	display: inline-block;
	margin-top: 17px;
	font-size: 13px;
	color: #b9b9b9;
}

/* Left container */

#left-container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 380px;
	background-color: white;
	border-right: 1px solid #EDEDED;
	overflow: scroll;
}

#left-container-content {
	padding: 36px 41px;
	margin-bottom: 142px;
}

#title {
	font-family: AvenirNext-DemiBold;
	font-size: 27px;
	color: #343434;
	margin: 0;
}

.section-title {
	font-family: AvenirNext-Medium;
	font-size: 16px;
	color: #000000;
	margin: 0;
	margin-top: 28px;
	padding-bottom: 10px;
	border-bottom: 1px #f5f5f5 solid;
}

#thoughts-container {

}

.thought {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.thought .thought-text {
	font-family: AvenirNext-Regular;
	font-size: 14px;
	color: #000000;
	margin: 0;
}

.thought .thought-tag {
	font-family: AvenirNext-Regular;
	font-size: 14px;
	color: #A2A2A2;
	margin: 0;
}

/* Map */

#map {
	position: absolute;
	top: 0;
	left: 380px;
	right: 0;
	bottom: 0;
}

/* Post view */

#share-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: inherit;
	height: 166px;
	background: #FFFFFF;
	background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%);
}

#share-text {
	margin: 39px;
	width: 296px;
	height: 26px;
	border: none;
	resize: none;
	background-color: transparent;
	color: black;
	font-size: 14px;
	font-family: AvenirNext-Regular;
	margin-bottom: 5px;
	margin-top: 50px;
}

textarea#share-text:focus {
	outline: none;
}

#share-tag {
	border: none;
	background-color: #f7f7f7;
	border-radius: 21px;
	margin-left: 39px;
	padding: 10px 16px;
}

input#share-tag::placeholder {
	color: #c1c1c1;
}

input#share-tag:focus {
	outline: none;
}

#share-button {
	width: 47px;
	height: 47px;
	margin-left: 100px;
	border: none;
	border-radius: 24px;
	cursor: pointer;
}

#share-button:hover {
	opacity: 0.9;
}

#share-button:focus {
	outline: none;
}

#search-bar {
	border: none;
	background-color: #F8F8F8;
	border-radius: 14px;
	margin-top: 20px;
	padding: 13px 15px;
	width: 90%;
}

input#search-bar::placeholder {
	color: #B4B4B4;
}

input#search-bar:focus {
	outline: none;
}

#nav-logo {
	width: 121px;
	background-size: 333px 137px;
	margin-top: 2px;
}

.thought-buttons {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.like-button {
	border: none;
	cursor: pointer;
}

.like-button:hover {
	opacity: 0.5
}

.like-button:focus {
	outline: none;
}

.like-button img {
	width: 14px;
}

.chat-button {
	border: none;
	cursor: pointer;
}

.chat-button:hover {
	opacity: 0.5
}

.chat-button:focus {
	outline: none;
}

.chat-button img {
	width: 14px;
}

/* Nav Buttons */

#nav-buttons {
	position: fixed;
	right: 5px;
	top: 20px;
	margin-top: 20px;
}

#nav-buttons button {
	display: block;
	border: none;
	cursor: pointer;
	background: transparent;
	margin-top: 9px;
}

#nav-buttons button:focus {
	outline: none;
}

#nav-buttons button:active {
	opacity: 0.7;
}

/* Chat View */

#chats {
	position: fixed;
	width: 380px;
	height: 250px;
	background: white;
	box-shadow: 0 2px 19px 8px rgba(0,0,0,0.07);
	border-radius: 6px;
	right: 72px;
	top: 100px;
	padding: 10px;
}

/* Filter View */

#filter {
	position: fixed;
	width: 380px;
	height: 250px;
	background: white;
	box-shadow: 0 2px 19px 8px rgba(0,0,0,0.07);
	border-radius: 6px;
	right: 72px;
	top: 50px;
	text-align: center;
}

#filter p {
	font-size: 29px;
	margin-top: 60px;
	margin-bottom: 10px;
}

#tag-input {
	border: none;
	background-color: #F8F8F8;
	border-radius: 14px;
	margin-top: 20px;
	padding: 13px 15px;
	width: 250px;
}

input#tag-input::placeholder {
	color: #B4B4B4;
}

input#tag-input:focus {
	outline: none;
}
