body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
  line-height:1.6;
  margin:0;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color:#f4f4f4;
  margin: 13% auto;
  width: 525px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

.modal-header h2, .modal-footer h3{
  margin:0;
}

.modal-body{
  padding:10px 20px;
}

.modal-footer{
  background:coral;
  padding:10px;
  color:#fff;
  text-align: center;
}

.closeBtn{
  color:#ccc;
  float: right;
  margin-right:20px;
  font-size: 40px;
  color: #C3C3C6;
}

.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}
#google{
    margin-top: -8px;
    margin-left: -10px;
}
#twitter{
    margin-top: 48px;
    margin-left: -11px;
}
#facebook{
	margin-left: -11px;
    margin-top: -2px;
}

#logo{
	height: 150px;
    width: 240px;
    margin-left: 137px;
    margin-top: 46px;
}

#twtButton{
    margin-left: 50px;
    margin-bottom: 49px;
    width: 382px;
    height: 70px;
    margin-top: 35px;	
    outline: none;
}
}#twtButton:hover {
	 cursor:pointer;
}
#Condiciones{
	text-align: left;
    margin-bottom: 36px;
    margin-top: 51px;
    font-size: 11px;
    font-weight: bold;
    color: gray;
}
@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}