#CuerpoIndex{   
    width: 78%;
    float: right;
}
#map{
	position: relative;
    overflow: hidden;
    width: 92%;
    float: right;
    height: 1109px;
}
#autocomplete{
	margin-top: 10px;
    margin-left: 700px;
    width: 500px;
    height: 38px;
}
#localiza{
	width: 200px;
	margin-top: 10px;
}
#actualizar{
    margin-left: 17px;
    margin-top: 50px;
    border: none;
    background-color: transparent;
    outline: none;
}
#imgActualizar{
	height: 128px;
    width: 144px;
}
#actualizar:hover{
	cursor:pointer;
}

#populares{
    border: none;
    background-color: transparent;
    outline: none;
}
#imgPopulares{
    margin-left: 22px;
    height: 128px;
    width: 144px;
	margin-top: 123px;
}
#populares:hover{
	cursor:pointer;
}
#Tag{
    margin-left: 17px;
    margin-top: 124px;
    border: none;
    background-color: transparent;
    outline: none;
}
#imgTag{
	height: 128px;
    width: 144px;
}
#Tag:hover{
	cursor:pointer;
}
#filtrar{
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 23px;
}
#imgFiltrar{
    height: 70px;
    width: 77px;
}
#filtrar:hover{
	cursor:pointer;
}

#btnLikes{
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 23px;
}
#btnChat{
	border: none;
    background-color: transparent;
    outline: none;
    margin-top: 23px;
}
#imgLikes{
    height: 33px;
    width: 35px;
}
#btnLikes:hover{
	cursor:pointer;
}

#btnChat:hover{
	cursor:pointer;
}
#misMarkers{
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 23px;
}
#imgMarkers{
    margin-left: 22px;
    height: 128px;
    width: 144px;
    margin-top: 126px;
}
#misMarkers:hover{
	cursor:pointer;
}

#titulo {
    position: relative;
    text-align: center;
}
#lista {
    position: absolute;
	top: -815px;
    bottom: 0;
    left: -512px;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
#h1Lista{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #bbb;
  margin-top: -518px;
}
ul{
	width: 261px;
	 list-style:none;
}
#ContenidoPen{
	width: 602px;
}
