.cabecera{
	height: 163px;
	border: 1px solid #E5E5E8;
}
#logoCab{
	height: 93px;
    width: 186px;
    margin-left: 74px;
    margin-bottom: 50px;
}
#busca{
	height: 150px;
    width: 230px;
    margin: 0px;
    margin-left: 228px;
}
#publica{
    height: 147px;
    width: 267px;
    margin-left: 292px;
    margin-bottom: 0px;
}
#chatea{
    height: 131px;
    width: 271px;
    margin-left: 261px;
    margin-top: 17px;
}
#divlogo{
    width: 13%;
    float: left;
    margin-top: 36px;
}
#divbusca{
    width: 17%;
    float: left;
    margin-top: 4px;
}
#divpublica{
    width: 20%;
    float: left;
    margin-top: 10px;	
}
#divchatea{
	width: 24%;
    float: left;
}
#divlogin{
    width: 25%;
    float: left;	
}
#logoIni{
	height: 1103px;
    width: 1103px;
    margin-left: -115px;
}
#Logoinicio{
	float: left;
    width: 25%;
}
#logoMensaje{
    position: absolute;
    margin-left: 969px;
}
#logoMen{
	height: 1007px;
    width: 1112px;
    margin-left: 365px;
}
#Registrate{
    position: absolute;
    margin-left: 1565px;
    margin-top: 679px;
}
#bloque{
	position: relative;
}